<h3>Add new team</h3>
<form (submit)="add($event)">
    <table class="table table-striped">
        <tbody>
            <tr class="form-group">
                <td>Name:</td>
                <td><input class="form-control" type="text" [(ngModel)]="name" name="name" /></td>
            </tr>
            <tr class="form-group">
                <td>City:</td>
                <td><input class="form-control" type="text" [(ngModel)]="city" name="city" /></td>
            </tr>
            <tr class="form-group">
                <td>Year:</td>
                <td><input class="form-control" type="text" [(ngModel)]="year" name="year" /></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success my-2" type="submit">Add</button>
</form>
<a routerLink="/">Back to home</a>
