<h3>Soccer Teams</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Club Name</th>
            <th>City</th>
            <th>Year Founded</th>
            <th class="cell-btn"></th>
            <th class="cell-btn"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams">
            <td>{{ team.name }}</td>
            <td>{{ team.city }}</td>
            <td>{{ team.year }}</td>
            <td class="cell-btn"><a class="btn btn-primary" routerLink="/update/{{ team._id }}">Update</a></td>
            <td class="cell-btn"><button class="btn btn-danger" (click)="delete($event, team._id)" type="button">Delete</button></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success my-2" routerLink="/add">Add new team</a>
